$breakpoint-phone: 768px;

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 40%;

  h2 {
    margin: 10px 0;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .sign-up-container {
    width: 100%;
    padding: 5%;
  }
}
